@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


</head>
<body>
    <div class="container">
        <img id="redheart" src="~/Content/Images/pinkheart.png" height="20" width="20" />
        <ul class="fly-in-text hidden">
            <li>Neo </li>
            <li>+ </li>
            <li>Natal</li>
        </ul>
        <div id="loginform">
            <form action="http://www.example.com/login/"
                  method="post">
                <input type="text" name="username" size="15" placeholder="Username" maxlength="30"
                       required="required" /><br>
                <input type="password" name="password" size="15" placeholder="Password" maxlength="30"
                       required="required" /><br>
                <input type="submit" value="Submit" />
                <input type="submit" value="Register" />
                <input type="submit" value="Forgot Password" />
        </div>
    </div>


</body>
</html>